In [94]:
import random
import numpy as np
import pandas as pd

ARRIVAL = 0.4  # higher -> more arrivals
SERVICE = 1  # higher -> less service time

SIM_TIME = 20

TYPE1 = 1
TYPE2 = 2

N_SERVERS = 2

random.seed(42)

In [95]:
u_Id = 0
users = 0

# Future Event Set
FES = []
queue = []

# simulation time
time = 0

# event counter
event = 0
arrivals = 0
departures = 0

In [96]:
columns = ['event', 's_Id', 'time', 'type',
           'queue', 'arr cust', 'depar cust', 'in line']
columns_s = ['time', 'type', 'queue', 'in line']

In [97]:
# Client

class Client:
    def __init__(self, u_Id, type, arrival_time, s_Id) -> None:
        self.u_Id = u_Id
        self.type = type
        self.arrival_time = arrival_time
        self.s_Id = s_Id

    def getType(self):
        return self.type

    def getArrivalTime(self):
        return self.arrival_time

    def getId(self):
        return self.u_Id

    def getS_Id(self):
        return self.s_Id

In [98]:
# find the server with the lowest number of clients in queue

def selectServer():
    global servers
    minId = -1
    nClient = float('inf')
    for s in servers:
        if s.getNClients() < nClient:
            nClient = s.getNClients()
            minId = s.getId()

    return minId

In [99]:
# Server

class Server:
    def __init__(self, s_Id, FES, columns_s) -> None:
        self.s_Id = s_Id
        self.FES = FES
        self.nClients = 0
        self.df = pd.DataFrame(columns=columns_s)
        self.columns = columns_s

    def addClient(self):
        self.nClients += 1

    def removeClient(self):
        self.nClients -= 1

    def getNClients(self):
        return self.nClients

    def getId(self):
        return self.s_Id

    def getDf(self):
        return self.df

    def arrival(self, time, FES, queue):
        global users
        global servers
        global u_Id
        print("ARRIVAL at time: \t{}".format(time))
        # sample time until next event
        inter_arrival = random.expovariate(1.0/ARRIVAL)
        #schedule next arrival
        FES.append((time + inter_arrival, "arrival", self.s_Id))
        # select the less busy server
        s_Id = selectServer()
        # create a record for the client
        client = Client(u_Id, TYPE1, time, s_Id)
        # assign the client to the less busy server
        servers[s_Id].addClient()
        # update state variables
        users += 1
        # change id of next user
        u_Id += 1
        print("S [{}]: new CLIENT created of type [{}] at time [{}]".format(s_Id, client.getType(), client.getArrivalTime()))
        # insert record in the queue
        queue.append(client)

        # update dataframe
        new_df = pd.DataFrame([
            [float(time), "arrival", len(queue), self.nClients]
        ], columns=self.columns)
        self.df = pd.concat([self.df, new_df])

        # if server is idle start the service
        if servers[s_Id].getNClients() == 1:
            # sample the service time
            service_time = random.expovariate(1.0/SERVICE)

            # print("S [{}]: new DEPARTURE scheduled at time: {}".format(self.s_Id, time + service_time))

            # schedule when the client will finish the server
            FES.append((time + service_time, "departure", s_Id))

    def departure(self, time, FES, queue):
        global users
        # get the first element from the queue
        client = queue.pop(0)
        print("S [{}]: CLIENT {} of type [{}] created at time [{}] departed at time [{}]".format(self.s_Id, client.getId(), client.getType(), client.getArrivalTime(), time))
        # remove client from server
        self.removeClient()
        # update state variable
        users -= 1

        # update dataframe
        new_df = pd.DataFrame([
            [float(time), "departure", len(queue), self.nClients]
        ], columns=self.columns)
        self.df = pd.concat([self.df, new_df])

        # see wheather there are more clients to serve in the line
        if self.getNClients() > 0:
            # sample service time
            service_time = random.expovariate(1.0/SERVICE)
            # schedule when the client will finish the server
            FES.append((time + service_time, "departure", self.s_Id))

In [100]:
# schedule the first arrival at t=0 to server 0
FES.append((time, "arrival", 0))

#create dataframe to store informations
df = pd.DataFrame(columns=columns)

# create servers
servers = []
for s_Id in range(0, N_SERVERS):
    servers.append(Server(s_Id, FES, columns_s))

while time < SIM_TIME:
    # sort FES in order to have events in cronological order
    FES.sort(key=lambda x: x[0])
    (time, event_type, s_Id) = FES.pop(0)

    print("users in line: \t{}".format(users))

    if event_type == "arrival":
        event += 1
        arrivals += 1
        new_df = pd.DataFrame([
            [event, s_Id, float(time), "arrival", len(queue), arrivals, departures, users]
        ], columns=columns)

        servers[s_Id].arrival(time, FES, queue)

    elif event_type == "departure":
        event += 1
        departures += 1
        new_df = pd.DataFrame([
            [event, s_Id, float(time), "departure", len(queue), arrivals, departures, users]
        ], columns=columns)

        servers[s_Id].departure(time, FES, queue)

    df = pd.concat([df, new_df])
    print()

users in line: 	0
ARRIVAL at time: 	0
S [0]: new CLIENT created of type [1] at time [0]

users in line: 	1
S [0]: CLIENT 0 of type [1] created at time [0] departed at time [0.02532883904273889]

users in line: 	0
ARRIVAL at time: 	0.4080241149099204
S [0]: new CLIENT created of type [1] at time [0.4080241149099204]

users in line: 	1
ARRIVAL at time: 	0.5366737405399067
S [1]: new CLIENT created of type [1] at time [0.5366737405399067]

users in line: 	2
S [0]: CLIENT 1 of type [1] created at time [0.4080241149099204] departed at time [0.6606103005800339]

users in line: 	1
ARRIVAL at time: 	1.0701108096631398
S [0]: new CLIENT created of type [1] at time [1.0701108096631398]

users in line: 	2
S [0]: CLIENT 2 of type [1] created at time [0.5366737405399067] departed at time [1.161063214269706]

users in line: 	1
S [1]: CLIENT 3 of type [1] created at time [1.0701108096631398] departed at time [1.6658467493384994]

users in line: 	0
ARRIVAL at time: 	1.961026049483692
S [0]: new CLIENT created of type [1] at time [1.961026049483692]

users in line: 	1
S [0]: CLIENT 4 of type [1] created at time [1.961026049483692] departed at time [1.9912762266910506]

users in line: 	0
ARRIVAL at time: 	2.1802445132422883
S [0]: new CLIENT created of type [1] at time [2.1802445132422883]

users in line: 	1
ARRIVAL at time: 	2.278931191626218
S [1]: new CLIENT created of type [1] at time [2.278931191626218]

users in line: 	2
ARRIVAL at time: 	2.289688953098341
S [0]: new CLIENT created of type [1] at time [2.289688953098341]

users in line: 	3
S [1]: CLIENT 5 of type [1] created at time [2.1802445132422883] departed at time [2.5006228607898984]

users in line: 	2
ARRIVAL at time: 	2.70948575358737
S [1]: new CLIENT created of type [1] at time [2.70948575358737]

users in line: 	3
S [0]: CLIENT 6 of type [1] created at time [2.278931191626218] departed at time [2.8841600411084416]

users in line: 	2
S [1]: CLIENT 7 of type [1] created at time [2.289688953098341] departed at time [2.958512172554194]

users in line: 	1
ARRIVAL at time: 	3.024417455284331
S [1]: new CLIENT created of type [1] at time [3.024417455284331]

users in line: 	2
S [1]: CLIENT 8 of type [1] created at time [2.70948575358737] departed at time [3.0309374238385978]

users in line: 	1
ARRIVAL at time: 	3.68751269297357
S [1]: new CLIENT created of type [1] at time [3.68751269297357]

users in line: 	2
S [0]: CLIENT 9 of type [1] created at time [3.024417455284331] departed at time [3.7739687474102044]

users in line: 	1
ARRIVAL at time: 	4.3430990378097905
S [0]: new CLIENT created of type [1] at time [4.3430990378097905]

users in line: 	2
ARRIVAL at time: 	4.509457072409223
S [0]: new CLIENT created of type [1] at time [4.509457072409223]

users in line: 	3
S [0]: CLIENT 10 of type [1] created at time [3.68751269297357] departed at time [4.5120853058970605]

users in line: 	2
S [1]: CLIENT 11 of type [1] created at time [4.3430990378097905] departed at time [4.885302633947055]

users in line: 	1
S [0]: CLIENT 12 of type [1] created at time [4.509457072409223] departed at time [4.922454235778144]

users in line: 	0
ARRIVAL at time: 	5.770066131784544
S [0]: new CLIENT created of type [1] at time [5.770066131784544]

users in line: 	1
ARRIVAL at time: 	5.808999192320527
S [1]: new CLIENT created of type [1] at time [5.808999192320527]

users in line: 	2
S [0]: CLIENT 13 of type [1] created at time [5.770066131784544] departed at time [5.871784816780176]

users in line: 	1
ARRIVAL at time: 	6.5612206889737825
S [0]: new CLIENT created of type [1] at time [6.5612206889737825]

users in line: 	2
S [1]: CLIENT 14 of type [1] created at time [5.808999192320527] departed at time [6.734648659276542]

users in line: 	1
ARRIVAL at time: 	7.219512664735886
S [1]: new CLIENT created of type [1] at time [7.219512664735886]

users in line: 	2
ARRIVAL at time: 	7.526857634347953
S [0]: new CLIENT created of type [1] at time [7.526857634347953]

users in line: 	3
ARRIVAL at time: 	7.717127507487548
S [1]: new CLIENT created of type [1] at time [7.717127507487548]

users in line: 	4
S [0]: CLIENT 15 of type [1] created at time [6.5612206889737825] departed at time [7.86956111942005]

users in line: 	3
ARRIVAL at time: 	8.038348605682142
S [0]: new CLIENT created of type [1] at time [8.038348605682142]

users in line: 	4
ARRIVAL at time: 	8.423827087732882
S [0]: new CLIENT created of type [1] at time [8.423827087732882]

users in line: 	5
ARRIVAL at time: 	9.215179061870248
S [1]: new CLIENT created of type [1] at time [9.215179061870248]

users in line: 	6
ARRIVAL at time: 	9.559665438409787
S [0]: new CLIENT created of type [1] at time [9.559665438409787]

users in line: 	7
S [0]: CLIENT 16 of type [1] created at time [7.219512664735886] departed at time [9.638022104005552]

users in line: 	6
S [0]: CLIENT 17 of type [1] created at time [7.526857634347953] departed at time [9.68492964426244]

users in line: 	5
S [0]: CLIENT 18 of type [1] created at time [7.717127507487548] departed at time [9.943568614609605]

users in line: 	4
ARRIVAL at time: 	10.04739726730892
S [0]: new CLIENT created of type [1] at time [10.04739726730892]

users in line: 	5
ARRIVAL at time: 	10.080659476292515
S [0]: new CLIENT created of type [1] at time [10.080659476292515]

users in line: 	6
ARRIVAL at time: 	10.186657826849316
S [0]: new CLIENT created of type [1] at time [10.186657826849316]

users in line: 	7
ARRIVAL at time: 	10.229247360653908
S [1]: new CLIENT created of type [1] at time [10.229247360653908]

users in line: 	8
S [0]: CLIENT 19 of type [1] created at time [8.038348605682142] departed at time [10.285197271789285]

users in line: 	7
ARRIVAL at time: 	10.359524792641226
S [0]: new CLIENT created of type [1] at time [10.359524792641226]

users in line: 	8
ARRIVAL at time: 	10.541071204609272
S [0]: new CLIENT created of type [1] at time [10.541071204609272]

users in line: 	9
ARRIVAL at time: 	10.72600030471025
S [1]: new CLIENT created of type [1] at time [10.72600030471025]

users in line: 	10
ARRIVAL at time: 	10.820039711291747
S [0]: new CLIENT created of type [1] at time [10.820039711291747]

users in line: 	11
S [1]: CLIENT 20 of type [1] created at time [8.423827087732882] departed at time [10.835727850425904]

users in line: 	10
ARRIVAL at time: 	10.944271439747741
S [1]: new CLIENT created of type [1] at time [10.944271439747741]

users in line: 	11
S [0]: CLIENT 21 of type [1] created at time [9.215179061870248] departed at time [11.294932147323767]

users in line: 	10
ARRIVAL at time: 	11.361961293630092
S [0]: new CLIENT created of type [1] at time [11.361961293630092]

users in line: 	11
ARRIVAL at time: 	11.437042247773737
S [1]: new CLIENT created of type [1] at time [11.437042247773737]

users in line: 	12
ARRIVAL at time: 	11.959484030458691
S [0]: new CLIENT created of type [1] at time [11.959484030458691]

users in line: 	13
ARRIVAL at time: 	12.030848910781868
S [1]: new CLIENT created of type [1] at time [12.030848910781868]

users in line: 	14
ARRIVAL at time: 	12.221712057459607
S [0]: new CLIENT created of type [1] at time [12.221712057459607]

users in line: 	15
S [0]: CLIENT 22 of type [1] created at time [9.559665438409787] departed at time [12.234314975320034]

users in line: 	14
S [0]: CLIENT 23 of type [1] created at time [10.04739726730892] departed at time [13.255965555780273]

users in line: 	13
S [1]: CLIENT 24 of type [1] created at time [10.080659476292515] departed at time [13.594880643771432]

users in line: 	12
ARRIVAL at time: 	14.045154604836432
S [0]: new CLIENT created of type [1] at time [14.045154604836432]

users in line: 	13
S [0]: CLIENT 25 of type [1] created at time [10.186657826849316] departed at time [14.070037625947736]

users in line: 	12
S [1]: CLIENT 26 of type [1] created at time [10.229247360653908] departed at time [14.748839433106818]

users in line: 	11
ARRIVAL at time: 	14.785381298695434
S [1]: new CLIENT created of type [1] at time [14.785381298695434]

users in line: 	12
ARRIVAL at time: 	14.798432000623489
S [0]: new CLIENT created of type [1] at time [14.798432000623489]

users in line: 	13
ARRIVAL at time: 	14.950031218046956
S [1]: new CLIENT created of type [1] at time [14.950031218046956]

users in line: 	14
S [1]: CLIENT 27 of type [1] created at time [10.359524792641226] departed at time [15.008968690617472]

users in line: 	13
ARRIVAL at time: 	15.07467955128432
S [1]: new CLIENT created of type [1] at time [15.07467955128432]

users in line: 	14
S [1]: CLIENT 28 of type [1] created at time [10.541071204609272] departed at time [15.245935904486121]

users in line: 	13
S [0]: CLIENT 29 of type [1] created at time [10.72600030471025] departed at time [15.566146458192074]

users in line: 	12
S [0]: CLIENT 30 of type [1] created at time [10.820039711291747] departed at time [15.944012762433939]

users in line: 	11
ARRIVAL at time: 	16.219928073385702
S [0]: new CLIENT created of type [1] at time [16.219928073385702]

users in line: 	12
ARRIVAL at time: 	16.421356805924738
S [0]: new CLIENT created of type [1] at time [16.421356805924738]

users in line: 	13
S [0]: CLIENT 31 of type [1] created at time [10.944271439747741] departed at time [17.009495927026922]

users in line: 	12
S [1]: CLIENT 32 of type [1] created at time [11.361961293630092] departed at time [17.336378750998016]

users in line: 	11
ARRIVAL at time: 	17.40527507118639
S [1]: new CLIENT created of type [1] at time [17.40527507118639]

users in line: 	12
ARRIVAL at time: 	17.518553269505468
S [0]: new CLIENT created of type [1] at time [17.518553269505468]

users in line: 	13
S [0]: CLIENT 33 of type [1] created at time [11.437042247773737] departed at time [17.623558124700537]

users in line: 	12
S [1]: CLIENT 34 of type [1] created at time [11.959484030458691] departed at time [17.644100505278534]

users in line: 	11
ARRIVAL at time: 	17.848191186349748
S [1]: new CLIENT created of type [1] at time [17.848191186349748]

users in line: 	12
S [0]: CLIENT 35 of type [1] created at time [12.030848910781868] departed at time [17.928374973919727]

users in line: 	11
S [0]: CLIENT 36 of type [1] created at time [12.221712057459607] departed at time [18.43820193841259]

users in line: 	10
S [1]: CLIENT 37 of type [1] created at time [14.045154604836432] departed at time [18.52258014739685]

users in line: 	9
S [0]: CLIENT 38 of type [1] created at time [14.785381298695434] departed at time [18.685792855063006]

users in line: 	8
ARRIVAL at time: 	18.760610200865262
S [0]: new CLIENT created of type [1] at time [18.760610200865262]

users in line: 	9
ARRIVAL at time: 	18.798734414143485
S [0]: new CLIENT created of type [1] at time [18.798734414143485]

users in line: 	10
ARRIVAL at time: 	18.818039413185844
S [0]: new CLIENT created of type [1] at time [18.818039413185844]

users in line: 	11
ARRIVAL at time: 	18.86449527653997
S [1]: new CLIENT created of type [1] at time [18.86449527653997]

users in line: 	12
ARRIVAL at time: 	19.2594446354058
S [0]: new CLIENT created of type [1] at time [19.2594446354058]

users in line: 	13
S [0]: CLIENT 39 of type [1] created at time [14.798432000623489] departed at time [19.398176462340924]

users in line: 	12
ARRIVAL at time: 	19.887684168017987
S [0]: new CLIENT created of type [1] at time [19.887684168017987]

users in line: 	13
ARRIVAL at time: 	19.913938304946583
S [1]: new CLIENT created of type [1] at time [19.913938304946583]

users in line: 	14
S [0]: CLIENT 40 of type [1] created at time [14.950031218046956] departed at time [19.946634670124574]

users in line: 	13
ARRIVAL at time: 	20.106198692925947
S [0]: new CLIENT created of type [1] at time [20.106198692925947]

In [101]:
df

   event s_Id       time       type queue arr cust depar cust in line
0      1    0   0.000000    arrival     0        1          0       0
0      2    0   0.025329  departure     1        1          1       1
0      3    0   0.408024    arrival     0        2          1       0
0      4    0   0.536674    arrival     1        3          1       1
0      5    0   0.660610  departure     2        3          2       2
..   ...  ...        ...        ...   ...      ...        ...     ...
0     92    0  19.398176  departure    13       52         40      13
0     93    0  19.887684    arrival    12       53         40      12
0     94    0  19.913938    arrival    13       54         40      13
0     95    0  19.946635  departure    14       54         41      14
0     96    0  20.106199    arrival    13       55         41      13

[96 rows x 8 columns]

In [102]:
servers[0].getDf()

         time       type queue in line
0    0.000000    arrival     1       1
0    0.025329  departure     0       0
0    0.408024    arrival     1       1
0    0.536674    arrival     2       1
0    0.660610  departure     1       0
..        ...        ...   ...     ...
0   19.398176  departure    12       6
0   19.887684    arrival    13       7
0   19.913938    arrival    14       7
0   19.946635  departure    13       6
0   20.106199    arrival    14       7

[82 rows x 4 columns]

In [103]:
servers[1].getDf()

        time       type queue in line
0   1.665847  departure     0       0
0   2.500623  departure     2       0
0   2.958512  departure     1       0
0   3.030937  departure     1       0
0   4.885303  departure     1       0
0   6.734649  departure     1       0
0  10.835728  departure    10       4
0  13.594881  departure    12       6
0  14.748839  departure    11       5
0  15.008969  departure    13       6
0  15.245936  departure    13       6
0  17.336379  departure    11       5
0  17.644101  departure    11       5
0  18.522580  departure     9       5