In [122]:
import random
import numpy as np
import pandas as pd

ARRIVAL = 0.95
SERVICE = 1

SIM_TIME = 20

TYPE1 = 1
TYPE2 = 2

random.seed(42)

In [123]:
u_Id = 0
users = 0

# Future Event Set
FES = []
queue = []

# simulation time
time = 0

# event counter
event = 0
arrivals = 0
departures = 0

In [124]:
columns = ['event', 'time', 'type',
           'queue', 'arr cust', 'depar cust', "in line"]

In [125]:
# Client

class Client:
    def __init__(self, u_Id, type, arrival_time) -> None:
        self.u_Id = u_Id
        self.type = type
        self.arrival_time = arrival_time

    def getType(self):
        return self.type

    def getArrivalTime(self):
        return self.arrival_time

    def getId(self):
        return self.u_Id

In [126]:
def arrival(time, FES, queue):
    global users
    global u_Id
    print("ARRIVAL at time: \t{}".format(time))
    # sample time until next event
    inter_arrival = random.expovariate(1.0/ARRIVAL)
    #schedule next arrival
    FES.append((time + inter_arrival, "arrival"))
    # update state variables
    users += 1
    # create a record for the client
    client = Client(u_Id, TYPE1, time)
    u_Id += 1
    print("new CLIENT created of type [{}] at time [{}]".format(client.getType(), client.getArrivalTime()))
    # insert record in the queue
    queue.append(client)

    # if server is idle start the service
    if users == 1:
        # sample the service time
        service_time = random.expovariate(1.0/SERVICE)

        # print("new DEPARTURE scheduled at time: {}".format(time + service_time))

        # schedule when the client will finish the server
        FES.append((time + service_time, "departure"))

In [127]:
def departure(time, FES, queue):
    global users
    # get the first element from the queue
    client = queue.pop(0)
    print("CLIENT {} of type [{}] created at time [{}] departed at time [{}]".format(client.getId(), client.getType(), client.getArrivalTime(), time))
    # update state variable
    users -= 1

    # see wheather there are more clients to serve in the line
    if users > 0:
        # sample service time
        service_time = random.expovariate(1.0/SERVICE)
        # schedule when the client will finish the server
        FES.append((time + service_time, "departure"))

In [128]:
# schedule the first arrival at t=0
FES.append((time, "arrival"))

#create dataframe to store informations
df = pd.DataFrame(columns=columns)

while time < SIM_TIME:
    # sort FES in order to ave events in cronological order
    FES.sort(key=lambda x: x[0])
    (time, event_type) = FES.pop(0)

    print("users in line: \t{}".format(users))

    if event_type == "arrival":
        event += 1
        arrivals += 1
        new_df = pd.DataFrame([
            [event, float(time), "arrival", len(queue), arrivals, departures, users]
        ], columns=columns)

        arrival(time, FES, queue)

    elif event_type == "departure":
        event += 1
        departures += 1
        new_df = pd.DataFrame([
            [event, float(time), "departure", len(queue), arrivals, departures, users]
        ], columns=columns)

        departure(time, FES, queue)

    df = pd.concat([df, new_df])
    print()

users in line: 	0
ARRIVAL at time: 	0
new CLIENT created of type [1] at time [0]

users in line: 	1
CLIENT 0 of type [1] created at time [0] departed at time [0.02532883904273889]

users in line: 	0
ARRIVAL at time: 	0.969057272911061
new CLIENT created of type [1] at time [0.969057272911061]

users in line: 	1
CLIENT 1 of type [1] created at time [0.969057272911061] departed at time [1.2216434585811746]

users in line: 	0
ARRIVAL at time: 	1.2746001337822783
new CLIENT created of type [1] at time [1.2746001337822783]

users in line: 	1
CLIENT 2 of type [1] created at time [1.2746001337822783] departed at time [2.403773142580871]

users in line: 	0
ARRIVAL at time: 	2.541513172949957
new CLIENT created of type [1] at time [2.541513172949957]

users in line: 	1
CLIENT 3 of type [1] created at time [2.541513172949957] departed at time [2.6324655775565233]

users in line: 	0
ARRIVAL at time: 	4.657436867523769
new CLIENT created of type [1] at time [4.657436867523769]

users in line: 	1
CLIENT 4 of type [1] created at time [4.657436867523769] departed at time [4.687687044731128]

users in line: 	0
ARRIVAL at time: 	5.178080718950436
new CLIENT created of type [1] at time [5.178080718950436]

users in line: 	1
ARRIVAL at time: 	5.412461580112269
new CLIENT created of type [1] at time [5.412461580112269]

users in line: 	2
ARRIVAL at time: 	5.438011263608561
new CLIENT created of type [1] at time [5.438011263608561]

users in line: 	3
ARRIVAL at time: 	5.648618349314058
new CLIENT created of type [1] at time [5.648618349314058]

users in line: 	4
CLIENT 5 of type [1] created at time [5.178080718950436] departed at time [5.881996246816589]

users in line: 	3
ARRIVAL at time: 	6.645635750475502
new CLIENT created of type [1] at time [6.645635750475502]

users in line: 	4
CLIENT 6 of type [1] created at time [5.412461580112269] departed at time [6.6693255010589905]

users in line: 	3
ARRIVAL at time: 	6.882210848493984
new CLIENT created of type [1] at time [6.882210848493984]

users in line: 	4
CLIENT 7 of type [1] created at time [5.438011263608561] departed at time [7.559134207360753]

users in line: 	3
CLIENT 8 of type [1] created at time [5.648618349314058] departed at time [7.56565417591502]

users in line: 	2
ARRIVAL at time: 	8.457062038005926
new CLIENT created of type [1] at time [8.457062038005926]

users in line: 	3
CLIENT 9 of type [1] created at time [6.645635750475502] departed at time [9.20462003800557]

users in line: 	2
ARRIVAL at time: 	9.594962481930736
new CLIENT created of type [1] at time [9.594962481930736]

users in line: 	3
CLIENT 10 of type [1] created at time [6.882210848493984] departed at time [9.620515124504152]

users in line: 	2
ARRIVAL at time: 	9.755499436613642
new CLIENT created of type [1] at time [9.755499436613642]

users in line: 	3
ARRIVAL at time: 	10.14534992000067
new CLIENT created of type [1] at time [10.14534992000067]

users in line: 	4
ARRIVAL at time: 	10.23781593877363
new CLIENT created of type [1] at time [10.23781593877363]

users in line: 	5
ARRIVAL at time: 	10.334448689519482
new CLIENT created of type [1] at time [10.334448689519482]

users in line: 	6
ARRIVAL at time: 	12.120974744070963
new CLIENT created of type [1] at time [12.120974744070963]

users in line: 	7
CLIENT 11 of type [1] created at time [8.457062038005926] departed at time [12.772037772942456]

users in line: 	6
ARRIVAL at time: 	13.000341737679177
new CLIENT created of type [1] at time [13.000341737679177]

users in line: 	7
ARRIVAL at time: 	14.24326514660313
new CLIENT created of type [1] at time [14.24326514660313]

users in line: 	8
CLIENT 12 of type [1] created at time [9.594962481930736] departed at time [14.417767712347715]

users in line: 	7
ARRIVAL at time: 	14.973209449431792
new CLIENT created of type [1] at time [14.973209449431792]

users in line: 	8
ARRIVAL at time: 	15.425100398138328
new CLIENT created of type [1] at time [15.425100398138328]

users in line: 	9
ARRIVAL at time: 	16.188000506350487
new CLIENT created of type [1] at time [16.188000506350487]

users in line: 	10
ARRIVAL at time: 	17.868038441706716
new CLIENT created of type [1] at time [17.868038441706716]

users in line: 	11
CLIENT 13 of type [1] created at time [9.755499436613642] departed at time [18.033982898037735]

users in line: 	10
ARRIVAL at time: 	18.783549836577222
new CLIENT created of type [1] at time [18.783549836577222]

users in line: 	11
ARRIVAL at time: 	19.601704980858624
new CLIENT created of type [1] at time [19.601704980858624]

users in line: 	12
CLIENT 14 of type [1] created at time [10.14534992000067] departed at time [20.01236283338115]

In [129]:
df

  event       time       type queue arr cust depar cust in line
0     1        0.0    arrival     0        1          0       0
0     2   0.025329  departure     1        1          1       1
0     3   0.969057    arrival     0        2          1       0
0     4   1.221643  departure     1        2          2       1
0     5     1.2746    arrival     0        3          2       0
0     6   2.403773  departure     1        3          3       1
0     7   2.541513    arrival     0        4          3       0
0     8   2.632466  departure     1        4          4       1
0     9   4.657437    arrival     0        5          4       0
0    10   4.687687  departure     1        5          5       1
0    11   5.178081    arrival     0        6          5       0
0    12   5.412462    arrival     1        7          5       1
0    13   5.438011    arrival     2        8          5       2
0    14   5.648618    arrival     3        9          5       3
0    15   5.881996  departure     4        9          6       4
0    16   6.645636    arrival     3       10          6       3
0    17   6.669326  departure     4       10          7       4
0    18   6.882211    arrival     3       11          7       3
0    19   7.559134  departure     4       11          8       4
0    20   7.565654  departure     3       11          9       3
0    21   8.457062    arrival     2       12          9       2
0    22    9.20462  departure     3       12         10       3
0    23   9.594962    arrival     2       13         10       2
0    24   9.620515  departure     3       13         11       3
0    25   9.755499    arrival     2       14         11       2
0    26   10.14535    arrival     3       15         11       3
0    27  10.237816    arrival     4       16         11       4
0    28  10.334449    arrival     5       17         11       5
0    29  12.120975    arrival     6       18         11       6
0    30  12.772038  departure     7       18         12       7
0    31  13.000342    arrival     6       19         12       6
0    32  14.243265    arrival     7       20         12       7
0    33  14.417768  departure     8       20         13       8
0    34  14.973209    arrival     7       21         13       7
0    35    15.4251    arrival     8       22         13       8
0    36  16.188001    arrival     9       23         13       9
0    37  17.868038    arrival    10       24         13      10
0    38  18.033983  departure    11       24         14      11
0    39   18.78355    arrival    10       25         14      10
0    40  19.601705    arrival    11       26         14      11
0    41  20.012363  departure    12       26         15      12